<!-- box for adding new drill/solution(s) -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Drill</h3>
  </div>

  <!-- display form to add new drill -->
  <div class="panel-body">
    <div id="new_drill_form">
      <%= render partial: "/drill_groups/new_drill_form" %>
    </div>

    <!-- display form to add new drill solution -->
    <div id="drill_solutions">
      <div id="new_drill_solutions_form">
        <%= render partial: "/drill_groups/new_drill_solutions_form" %>
      </div>
    </div>
  </div>
</div>