<h1>Drill Groups<span class="pull-right"><%= link_to "New Drill Group", new_drill_group_path, remote: true, class: "btn btn-default" %></span></h1>

<div class="container">
  <% @drill_groups.each do |drill_group| %>
    <%= render partial: "/drill_groups/admin_drill_group_block", locals: { drill_group: drill_group } %>
  <% end %>
</div>

<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newModalLabel">Create a New Drill Group</h4>
      </div>
      <div class="flash-messages">
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>