$('#flash_message').html('');

<%# Display the flash messages if any %>
<% if flash[:notice] %>
  $('#flash_message').append('<div class="alert alert-success"><%= flash[:notice] %></div>');
<% end %>
<% if flash[:alert] %>
  $('#flash_message').append('<div class="alert alert-danger"><%= flash[:alert] %></div>');
<% end %>

<% unless @user.errors.any? %>
  $('#<%= dom_id(@user) %>').remove();
<% end %>