<div class="liner">
  <hr>
</div>

<div class="col-md-4 text-center large-text">
  <%= @user.first_name %> 
  <%= @user.last_name %>
</div>

<div class="col-md-4 text-center medium-text">
  <%= @user.email %>
</div>


 


<% if current_user.is_admin %>
  "You are an admin"
  <% end %>