<div class="jumbotron">

  <div class="col-md-5 homesplash medium-text white-text">
    

    <div class="large-text">Welcome to Codecore Drills, </div>

        <hr>
  
    a place to hone your programming
    skills doing a bunch of sweet drills.
    Bang out some lines, dummy some code, 
    sign up ya nutsack.

  </div>

  <div class="col-md-6 homesplash text-center">
    <%= image_tag ("codecore_drill.png") %>
  </div>

</div>