

<div class="jumbotron">
  <div class="calltoaction">
    <h2> CodeCore Drills Project </h2>
    <h5> A Group project made by Group B of the CC Cohort 6</h5> 
  </div>
</div>


  

  <div class="teamroster col-md-12">
      <h3> The Team </h3>

      <div class="teammember col-md-4">
        <img src="https://s3.amazonaws.com/akiaisoxi7kjcprfrvjq/artists/placeholder.png" class="img-circle profile">
        <div class="info">
        <h5>Derek</h5>
            <p>Project Manager & Frontend</p>
            <a href="#"><img src="http://neat.bourbon.io/images/github.png"></a>
            <a href="#"><img src="http://cdn.flaticon.com/png/256/23931.png"></a>
            <a href="#"><img src="http://www.clker.com/cliparts/L/Q/v/n/x/t/web-logo-md.png"></a>
            </div>

      </div>


      <div class="teammember col-md-4">
        <img src="https://s3.amazonaws.com/akiaisoxi7kjcprfrvjq/artists/placeholder.png" class="img-circle profile">
        <div class="info">
            <h5>Paulo</h5>
            <p>Git Master & Backend</p>
            <a href="#"><img src="http://neat.bourbon.io/images/github.png"></a>
            <a href="#"><img src="http://cdn.flaticon.com/png/256/23931.png"></a>
            <a href="#"><img src="http://www.clker.com/cliparts/L/Q/v/n/x/t/web-logo-md.png"></a>

        </div>
      </div>

        <div class="teammember col-md-4">
        <%= image_tag ("profile_pics/warrick.jpg"), class: "img-circle profile" %>
        <div class="info">
            <h5>Warrick</h5>
            <p>Back End</p>
            <a href="#"><img src="http://neat.bourbon.io/images/github.png"></a>
            <a href="#"><img src="http://cdn.flaticon.com/png/256/23931.png"></a>
            <a href="#"><img src="http://www.clker.com/cliparts/L/Q/v/n/x/t/web-logo-md.png"></a>

        </div>
      </div>

        <div class="teammember col-md-4">
         <%= image_tag ("profile_pics/ishan.jpg"), class: "img-circle profile" %>
        <div class="info">
            <h5>Ishan</h5>
            <p>Back end & User authitencation</p>
            <a href="#"><img src="http://neat.bourbon.io/images/github.png"></a>
            <a href="#"><img src="http://cdn.flaticon.com/png/256/23931.png"></a>
            <a href="#"><img src="http://www.clker.com/cliparts/L/Q/v/n/x/t/web-logo-md.png"></a>

        </div>
      </div>

        <div class="teammember col-md-4">
        <img src="https://s3.amazonaws.com/akiaisoxi7kjcprfrvjq/artists/placeholder.png" class="img-circle profile">
        <div class="info">
            <h5>Derek</h5>
            <p>front end</p>
            <a href="#"><img src="http://neat.bourbon.io/images/github.png"></a>
            <a href="#"><img src="http://cdn.flaticon.com/png/256/23931.png"></a>
            <a href="#"><img src="http://www.clker.com/cliparts/L/Q/v/n/x/t/web-logo-md.png"></a>

        </div>
      </div>

        <div class="teammember col-md-4">
        <img src="https://s3.amazonaws.com/akiaisoxi7kjcprfrvjq/artists/placeholder.png" class="img-circle profile">
        <div class="info">
            <h5>Derek</h5>
            <p>front end</p>
            <a href="#"><img src="http://neat.bourbon.io/images/github.png"></a>
            <a href="#"><img src="http://cdn.flaticon.com/png/256/23931.png"></a>
            <a href="#"><img src="http://www.clker.com/cliparts/L/Q/v/n/x/t/web-logo-md.png"></a>

        </div>
      </div>

        <div class="teammember col-md-4">
        <img src="https://s3.amazonaws.com/akiaisoxi7kjcprfrvjq/artists/placeholder.png" class="img-circle profile">
        <div class="info">
            <h5>Derek</h5>
            <p>front end</p>
            <a href="#"><img src="http://neat.bourbon.io/images/github.png"></a>
            <a href="#"><img src="http://cdn.flaticon.com/png/256/23931.png"></a>
            <a href="#"><img src="http://www.clker.com/cliparts/L/Q/v/n/x/t/web-logo-md.png"></a>

        </div>
      </div>

       <div class="teammember col-md-4">
        <img src="https://s3.amazonaws.com/akiaisoxi7kjcprfrvjq/artists/placeholder.png" class="img-circle profile">
        <div class="info">
            <h5>Derek</h5>
            <p>front end</p>
            <a href="#"><img src="http://neat.bourbon.io/images/github.png"></a>
            <a href="#"><img src="http://cdn.flaticon.com/png/256/23931.png"></a>
            <a href="#"><img src="http://www.clker.com/cliparts/L/Q/v/n/x/t/web-logo-md.png"></a>

        </div>
      </div>

       <div class="teammember col-md-4">
        <img src="https://s3.amazonaws.com/akiaisoxi7kjcprfrvjq/artists/placeholder.png" class="img-circle profile">
        <div class="info">
            <h5>Derek</h5>
            <p>front end</p>
            <a href="#"><img src="http://neat.bourbon.io/images/github.png"></a>
            <a href="#"><img src="http://cdn.flaticon.com/png/256/23931.png"></a>
            <a href="#"><img src="http://www.clker.com/cliparts/L/Q/v/n/x/t/web-logo-md.png"></a>

        </div>
      </div>

       <div class="teammember col-md-4">
        <img src="https://s3.amazonaws.com/akiaisoxi7kjcprfrvjq/artists/placeholder.png" class="img-circle profile">
        <div class="info">
            <h5>Derek</h5>
            <p>front end</p>
            <a href="#"><img src="http://neat.bourbon.io/images/github.png"></a>
            <a href="#"><img src="http://cdn.flaticon.com/png/256/23931.png"></a>
            <a href="#"><img src="http://www.clker.com/cliparts/L/Q/v/n/x/t/web-logo-md.png"></a>

        </div>
      </div>



  </div>

