<h1>Drills</h1>

<div class="container">
  <% @drills.each do |f| %>
    <p><%= link_to f.title, drill_group_drill_path(f.drill_group, f) %><p>
    <p>Title:<%= f.title %></p>
    <p>Description:<%= f.description %></p>
    <hr>
  <% end %>
</div>   