<h1>Drills</h1>

<div class="container">
  <% @drills.each do |drill| %>
    <p><%= link_to drill.title, drill_group_drill_path(drill.drill_group, drill) %><p>
    <p>Title:<%= drill.title %></p>
    <p>Description:<%= drill.description %></p>
    <hr>
  <% end %>
</div>   