<div id="drill_group_header">
  <h2><%= @drill_group.name %></h2>
</div>
<div id="drill_prompt">
  <%= render "/drills/drill_prompt" %>
</div>
<div id="user_attempt_form">
  <%= render "/drills/user_attempt_form" %>
</div>
<% if current_user.is_admin %>
  <div id="correct_answers">
    Correct Answers:<br />
    <% @drill.solutions.each do |solution| %>
      <%= render partial: "/drills/correct_answers", locals: { solution: solution } %>
    <% end %>
  </div>
<% end %>