 <div id="drill_group_header">
  <h2><%= @drill_group.name %></h2>
</div>
<div id="drill_prompt">
  <strong><%= @drill.title %></strong>
  <br>
  <%= @drill.description %>
  <%#= render "/drills/drill_prompt" %>
</div>

<div id="user_attempt_form">
  <%= render partial: "/drills/user_attempt_form", locals: { drill_group: @drill_group, drill: @drill, scorecard: Scorecard.new } %>
</div>
<%# if current_user.is_admin %>
  <div id="correct_answers" >
    Correct Answers:<br />
    <% @drill.solutions.each do |solution| %>
      <%#= render partial: "/drills/correct_answers", locals: { solution: solution } %>
    <% end %>
  </div>

<div class="col-md-12 correctdiv">
  
That is correct!

</div>

<div class="col-md-12 incorrectdiv">
  
That is incorrect!

</div>

<%# end %>