.calltoaction {
  margin-top: 50px;
  text-align: center;
  color: #fff;
}
.calltoaction h2{
  font-size: 6em;
}

.calltoaction h5{
  font-size: 2em;
}

.calltoaction a{
  font-size: 1.6em;
  color: #fff;
}
.calltoaction a:hover{
  color: #FE642E;
}
.aboutjumbotron {
  margin-top: 10px;
  background-image: url("http://scontent-a-sea.cdninstagram.com/hphotos-xap1/t51.2885-15/10808596_391973634298389_1726697392_n.jpg");
  height: 250px; 
  // http://scontent-a-sea.cdninstagram.com/hphotos-xap1/t51.2885-15/10808596_391973634298389_1726697392_n.jpg
  // http://scontent-b-sea.cdninstagram.com/hphotos-xpa1/t51.2885-15/10431946_1429494757328416_1782550387_n.jpg
}

.teamroster h3{
  font-size: 6em;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
  // margin-left: 60px;
}
 .teammember {
  height: 118px;
  width: 300px;
  border: 1px solid black;
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
  border-top-right-radius:4px;
  border-bottom-right-radius:4px;
  margin-bottom: 30px; 
  margin-left: 150px;
  float: left;
 }
 .profile {
  height: 123px;
  width: 123px;
  position: relative;
  left: -45px;
  bottom: 24px;
  
 }
 .info {
  position: relative;
  display: inline-block;
 }

 .info h5 {
  font-size: 2.3em;
  padding: 0px;
  margin-bottom: 0px; 
 }

  .info p {
  padding: 2px;
  margin-bottom: 0px;
  padding-left: 10px; 
  color: #C91C1C;
 }

 .info a {
  padding-left: 10px;
 }
  .info a img {
  height: 20px;
 }







