// Place all the styles related to the drills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.correctdiv {
  display: none;
  width: 100%;
  background: green;
  color: white;
}

.incorrectdiv {
  display: none;
  width: 100%;
  background: red;
  color: white;
}

#correct_answers {
  // display: none;
}