// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.white-text {
  color: white;
}

.orange-text {
  color: #FE642E;
}

.medium-text {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: lighter;
}

.large-text {
  font-size: 36px;
  letter-spacing: 2px;
  font-weight: lighter;
}

.button {
  transition: .3s;
}

.spacer {
  height: 75px;
}

.home-poster {
  width: 360px;
}

.home-button {
  position: relative;
  left: 10px;
  bottom: 150px;
  width: 160px;
}

.jumbotron {
  background-image: url("link_images/homesplash2.jpg");
  margin-top: -25px;
  height: 550px;
  background-repeat: no-repeat;
  background-position: 0px -120px;
}

.homesplash {
  margin-left: 50px;
}

.pagesplash {
 width: 100%;
 height: 200px;
 background: url("link_images/homesplash.png");
 margin-top: -25px;
}
.login div.form-group.email.required.user_email{
  width: 300px;
}
.login .form-group.user_password{
  width: 300px;
}

.login .user_email input{
  background-color: rgba(77, 73, 108, 0.6);
  color: #EDEDED;
}
.login .user_password input{
  background-color: rgba(77, 73, 108, 0.6);
  color: #EDEDED;
}

.login .form-group.user_email label{
  color: #EDEDED;
  font-size: 1.1em;
  }

  .login .form-group.user_password label{
    color: #EDEDED;
    font-size: 1.1em;
  }

.login {
  width: 300px;
  height: 300px;
  margin-left: 60px;
  position: absolute;
  top: 390px;}

.logsubmit{
  background-color: #EDEDED;
  border: none;
  width: 80px;
  height: 40px;
  border-radius: 4px;
}

.logsubmit:hover{
  background-color: #4d496c;
  color: #EDEDED;
}

form#new_user.simple_form.new_user {
  height: inherit;
}