// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.white-text {
  color: white;
}

.orange-text {
  color: #FE642E;
}

.medium-text {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: lighter;
}

.large-text {
  font-size: 36px;
  letter-spacing: 2px;
  font-weight: lighter;
}

.button {
  transition: .3s;
}

.spacer {
  height: 75px;
}

.home-poster {
  width: 360px;
}

.home-button {
  position: relative;
  left: 10px;
  bottom: 150px;
  width: 160px;
}

.jumbotron {
  background-image: url("link_images/homesplash3.jpeg");
  background-repeat: no-repeat;
  margin-top: -25px;
  height: 600px;
  width: 100%;
}

.homesplash {
  margin-left: 50px;
}