.navbar{
  margin: 0px;
  background: white;
  border-radius: 0px;
  height: 125px;
  border: 1px #FE642E;
}
.navbar a{
  font-size: 18px;
  color: #474747;
}


.navbar-brand {
  height: 100px;
  padding-left: 50px;
  padding-bottom: 0px;
  padding-top: 10px;
  position: relative;
}

.navbar-right {
  padding-right: 30px;
  padding-top: 40px;
}

.navbar-right a{
  border: none;
  color: #474747;
}

.navbar-right a:hover {
  text-decoration: none;
  color: #fff;
}
.btn-default:hover {
  background-color: #675d80;
}

hr {
  border: 3px solid #e56262;
  margin: 0px 0px 40px 0px;
}

.navbar-left {
  padding-left: 15px;
  padding-top: 40px;
}


.navbar-left a{
  border: none;
  color: #675d80;
  letter-spacing: 3px;
  margin-left: 15px;
}

.navbar-left a:hover{
  color: #e56262;
}

.navbar-left a:first-child {
  margin-left: 35px;

}

p.navbar-text {
  margin-top: 22px;
}

.navbar-btn {
  padding: 2px;
}
