$('#flash-messages').html('');
$('#viewModal .flash-messages').html('');

<% if @solution.errors.any? %>
  $('#viewModal .flash-messages').append('<div class="alert alert-danger"><%= @solution.errors.full_messages.join('; ') %></div>');
<% else %>
  <%# Show the create associated Solution form %>
  $('#new_drill_solutions_form').html('<%= j render partial: "/drill_groups/new_drill_solutions_form", locals: { drill: @drill } %>');
  <%# Show the newly created Solution in the list below the form %>
  $('#drill_solutions').append('<%= j render partial: "/solutions/solution", locals: { solution: @solution } %>');
<% end %>